<%= provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This is build with Bootstrap framwork, checkout : <a href="http://twitter.github.com/bootstrap/customize.html#variables/">Customize variables in Bootstrap </a>
</p>